@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply flex items-center justify-start gap-4 font-normal w-full 
    py-4 px-8 cursor-pointer hover:font-bold;
  }

  .active {
    @apply bg-active font-bold text-gray-50;
  }

  .graph-line line {
    @apply opacity-20;
  }
}

body {
  background-color: theme("colors.primary");
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.3);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
